<div class="lista-expedientes-container">
  <table class="tabla-expedientes">
    <thead>
      <tr>
        <th>Nº expediente</th>
        <th>Título</th>
        <th>Estado</th>
        <th>Fecha alta</th>
        <th>Fecha alta</th>
      </tr>
    </thead>
    <tbody>
        @for (expediente of expedientes(); track expediente.numero) {
            <tr>
                <td>{{expediente.numero}}</td>
                <td>{{expediente.titulo}}</td>
                <td>{{expediente.estado}}</td>
                <td>{{ expediente.fechaAlta | date: 'dd/MM/yyyy' }}</td>
                <td>
                  <button type="button" class="btn-editar" (click)="onExpedienteClick(expediente)">
                    Ver detalle
                  </button>
                </td>
            </tr>
        }
    </tbody>
  </table>
</div>
