.app-footer {
  text-align: center;         /* Centra el texto */
  padding: 1rem 2rem;         /* Espaciado interno, igual que el header */
  background-color: var(--mat-sys-primary);    /* Color de fondo suave */
  box-shadow: var(--mat-sys-level2);
  color: var(--mat-sys-on-primary);             /* Color de texto gris */
  font-size: 0.875rem;        /* Tamaño de fuente pequeño */
  border-top: 1px solid #e5e7eb; /* Línea divisoria superior */
  width: 100%;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}