<mat-toolbar  class="app-header">
  <div class="logo" (click)="onLogoClick()">
    <h2>Expedientes - MVP</h2>
  </div>
    <nav class="nav-links">
        <!-- <img src="assets/user-icon.png" alt="Icono de usuario" class="user-icon" /> -->
        <button type="button" class="btn-nav btn-nuevo" (click)="onNuevoExpediente()">
          Nuevo expediente
        </button>
        <button type="button" class="btn-nav btn-logout" (click)="onLogout()">
          Cerrar sesión
        </button>
    </nav>
</mat-toolbar>